header {
  position: relative;  
  overflow: hidden;
}

header img {
    position: absolute;
    top: 90%;
    left: 60%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: red;

}